@import "styles/vars.css";

.container {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.icon {
  width: 100px;
  margin-top: -3px;
}

.text {
  color: #005B92;
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;
  margin-top: 24px;
}

.line {
  height: 75px;
  width: 1px;
  background: #A1A6B3;
  margin-left: 25px;
  margin-right: 31px;
}

@media screen and (max-width: 1280px) {
	.container {
	  padding: 16px 0;
	}
	.line {
	  height: 54px;
	}
	.text {
	  margin-top: 12px;
	}
	.icon {
	 width: 88px;
	 margin-top: -10px;
	}
}
@media screen and (max-width: 1023px) {
	.container {
	  padding: 8px 0 8px 0;
	}
	.text {
		 font-size: 16px;
		   margin-top: 9px;
	}
	.line {
	  height: 46px;
	  margin:  0 24px;
	}
	.icon {
	 width: 64px;
	 margin-top: -12px;
	}
}