.container {
  background: #FFFFFF;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1440px;
  box-sizing: border-box;
  padding: 0 140px;
  height: 150px;
  margin: 0 auto;
}

.left {
  display: flex;
  align-items: flex-start;
}

.logo {
  width: 100px;
}

.text {
  border-left: 1px solid #E4E6EB;
  padding-left: 29px;
  margin-left: 25px;
}

.text div {
  color: #1C5B8E;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
}

.text p {
  font-size: 15px;
  font-weight: 600;
  color: #A1A6B2;
  margin-top: 8px;
}

@media  screen and (max-height: 900px) {
  .inner {
    height: 97px;
  }
  
}
@media screen and (max-width: 1280px) {
	.inner {
	  padding: 0 48px;
	  height: 97px;
	  width: 100vw;
	}
}