.text {
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  color: #A1A6B3;
  background: #FAFBFC;
  border-radius: 10px;
  width: 240px;
  box-sizing: border-box;
  padding: 16px 19px;
  margin-top: -24px;
  margin-bottom: 20px;
}


.close {
  position: absolute;
  top: 40px;
  right: 40px;
  color: #B8BECC;
  cursor: pointer;
}

.close:hover {
  color: #0081FF;
}

.resend {
  cursor: pointer;
  text-decoration: underline;
}

.resend:hover {
  color: #0081FF;
}