@import 'reset-css';
@import "./vars.css";
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:100,300,300i,400,400i,500,500i,600,600i,700,700i&subset=cyrillic');


:global(html) {
  font-size: 16px;
  width:100%;
}

:global(body) {
  background: #fafafc;
  color: #3D424D;
  font-family: 'Montserrat', sans-serif;
  width:100%;
  min-width: 1024px;
}

@media screen and (max-width: 1023px) {
	:global(body) {
	  min-width: 960px;
	}
	
}