@import "styles/vars.css";

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.elem {
  margin: 0 24px;
  padding-bottom: 25px
}

.link {
  color: #A1A6B3;
  font-weight: 600;
  font-size: 17px;
  line-height: 21px;
  text-decoration: none;
  padding-bottom: 22px;
  border-bottom: 3px solid transparent;
}

.activeLink, .link:hover {
  color: #3D424D;
  border-color: #FF7439;
}