.container {
  display: flex;
  justify-content: space-between;
  padding: 60px 197px;
}

.forgetPassword {
  border-bottom: 1px solid;
  cursor: pointer;
}

.forgetPassword:hover {
  color: #0081FF;
}

.icon {
  padding-top: 132px;
}

@media screen and (max-width: 1280px) {
	.icon {
	  padding-top: 96px;
	}
	.container {
	  padding: 32px 32px 0;
	}
	.icon > svg{
		width: 440px;
	}
}
@media screen and (max-width: 1023px) {
	.icon > svg{
		width: 380px;
	}
}