.container {
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  color: #737780; 
  margin-bottom: 36px;
}

.container a {
  color: #A1A6B2;
}
@media screen and (max-width: 1280px) {
	.container {
	  margin-bottom: 24px;
	}
}